/*rgba(0,38,255,255)*/

body {
	font-family: "Consolas";
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.header {
	z-index: 2;
	width: 100%;
	height: 175px;
	-webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
	box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.menuIco {
	position: absolute;
	float: left;
	margin-left: 5%;
	margin-top: 5%;
}
.logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.bodyWrapper {
	width: 100%;
	margin-top: 20%;
	margin-bottom: 20%;
	text-align: center;
}

.title {
	margin-top: -10%;
	padding-bottom: 10%;

	font-weight: bold;
	font-size:40px;
	color: rgba(0,38,255,255);
}
.paraOne {
	width: 80%;
	margin-left: 10%;
	padding-bottom: 10%;

	font-size: 24px;
}
.link {
	text-decoration: none;
	color: rgba(0,38,255,255);
	font-weight: bold;

	padding: 20px;

	border-width: 5px;
	border-color: rgba(0,38,255,255);
	border-style: solid;
}
.link:hover {
	color: white;
	background-color: rgba(0,38,255,255);
}

.footer {
	bottom: 0;
	left: 0;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;

	text-align: center;
	font-size: 15px;
	font-weight: bold;
	color: rgba(0,38,255,255);

	-webkit-box-shadow: 0px -10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
	box-shadow: 0px -10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.menu {

	float: left;
	position: fixed;
	z-index: 1;
	height: 100%;
	width: 100%;

	text-align: center;

	visibility: hidden;

	background-color: white;


	-webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
	box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}

.menu ul {
	list-style: none;

	font-size: 40px;
	width: 50%;
	margin: auto;
	padding: 0;
}
.menu li {
	padding-bottom: 5%;
	padding-top: 5%;
	border-bottom: 1px solid black;

}
.menu li:last-child {
	padding-bottom: 0;
	border-bottom: none;
}
.menu a {
	text-decoration: none;
	font-weight: bold;
	color: rgba(0,38,255,255);
}
.menu a:hover {
	color: rgba(0,38,255,255);
}

.Dmenu {
	visibility: hidden;
}

.projectContainer {
	margin-top: 20%;
	width: 100%;
}

.project {
	margin: auto;
	width: 80%;
	padding: 5%;

	text-align: center;

	margin-bottom: 5%;
}
.project:last-child {
	margin-bottom: 10%;
}

.pTitle {
	font-weight: bold;
	font-size:40px;
	color: rgba(0,38,255,255);
}

.description {
	text-align: left;
}

.thumbnail {
	width: 100%;
	padding-bottom: 10%;
}

.moreBtn {
	text-decoration: none;
	color: rgba(0,38,255,255);
	font-weight: bold;

	padding: 10px;

	border-width: 5px;
	border-color: rgba(0,38,255,255);
	border-style: solid;
}
.moreBtn:hover {
	color: white;
	background-color: rgba(0,38,255,255);
}

@media screen and (min-width: 1000px) {

	.header {
		height: 250px;
	}

	.Dmenu {
		visibility: visible;

		list-style: none;

		font-size: 24px;
		text-align: center;

		margin-top: 2%;
		margin-right: auto;
		margin-left: auto;
	}
	.Dmenu li {
		display: inline;
		border-right: 1px solid black;
		padding-right: 2%;
		padding-left: 2%;
	}
	.Dmenu li:last-child {
		border-right: none;
	}
	.Dmenu a {
		text-decoration: none;
		color: rgba(0,38,255,255);
		padding: 1%;
	}
	.Dmenu a:hover {
		background-color: rgba(0,38,255,255);
		color: white;
	}

	.menuIco {
		visibility: hidden;
	}

  	.logo {
		
	}

	.bodyWrapper {
		margin-top: 15%;
		margin-bottom: 10%;
	}

	.title {
		padding-bottom: 2%;
	}

	.paraOne {
		margin: auto;
		padding-bottom: 5%;
		width: 60%;
	}

	.projectContainer {
		margin-top: 10%;
	}

	.project {
		width: 50%;

		-webkit-box-shadow: 0px 10px 13px -7px #000000, 0px -10px 13px -7px #000000, 10px 0px 13px -7px #000000, -10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
		box-shadow: 0px 10px 13px -7px #000000, 0px -10px 13px -7px #000000, 10px 0px 13px -7px #000000, -10px 0px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
	}
}